@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
    font-family: "Open-sans", sans-serif;
}

body,
html {
    background-color: rgb(177, 225, 255);
}

main {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: lightslategray;
    border: 2px solid lightslategray;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    background-color: rgb(181, 200, 252);
}

#counter {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
